# Folder virtual environment
venv/

# Folder unduhan media
downloads/

# Python cache
__pycache__/

# Session login Telegram
session_userbot.session

# File konfigurasi environment (jika ada)
.env

# File temporary macOS
.DS_Store
